<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AES.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
        <AES.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FlagCommon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagRare" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagLegend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagUnique" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagEpic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlagMythic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ItemLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThisFileExist" serializeAs="String">
                <value>False</value>
            </setting>
        </AES.Properties.Settings>
    </userSettings>
</configuration>
